
.items {
    display: flex;
    flex-direction: column;
    padding: 3px;

    margin: 10px;
  }


.item-info{
    border-bottom: #55555524 solid 1px;
    color: #535353;
    font-weight: 400;
    display: flex;
}

.truck-data{
    flex-direction: column;
    padding: 10px 15px;
}

strong{
    font-weight: 500;
    
}