@import '../../styles.scss';

.parrafo{
    padding:20px;
    margin:0;
    color:$gray;
}

strong{
    color:$delete-color;
}

.primary-button{
    background-color:$delete-color;
    color:white;
}

.mc-header{
    border-top:$delete-color 2px solid !important;
}

.buttons-container{
    border-bottom: $delete-color 2px solid;
}