<div class="form-content-medium">
    <div class="component-main-container">
        <h2 class="mc-header">Añadir camión</h2>
        <div class="mc-content-container" style="flex-direction: column;">
            <div class="content-card">
                <h2>Ingrese datos del camión</h2>
                <form #truckForm="ngForm" (ngSubmit)="onSubmit()" class="section-content section-pad">

                    <mat-form-field class="name" appearance="outline">
                        <mat-label>Nombre</mat-label>
                        <input name="name" matInput aria-label="Name" [(ngModel)]="name" required>
                    </mat-form-field>



                    <mat-form-field class="capacity" appearance="outline">
                        <mat-label>Capacidad</mat-label>
                        <input name="capacity" type="text" pattern="[0-9]+" [(ngModel)]="capacity" required matInput
                            placeholder="">
                    </mat-form-field>


                </form>
            </div>
            <div class="buttons-container">
                <div class="buttons" style="width:auto">
                    <button type="button" mat-button class="cancel-button" (click)="close()">Cancelar</button>
                    <button type="button" mat-button class="primary-button" [disabled]="!truckForm.valid"
                        (click)="save()">Añadir camión</button>
                </div>
            </div>
        </div>

    </div>
</div>