@import "./../../styles.scss";

.items {
    display: flex;
    flex-direction: column;
    padding: 3px;
    background-color: $black-50;
    margin: 10px;
}

.desc {
    width: 50%;
}

.weight {
    width: 12%;
}

.volume {
    width: 15%;
}

.act {
    width: 5%;
}

.act-icon {
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.del-button {
    background: $delete-color;
    margin-right: 10px;
}

.item-row:hover .act-icon {
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    color: $almost-white;
}

.act-icon:hover {
    color: $primary-color !important;
}

.description {
    width: 52%;
}

.weight {
    width: 12%;
}

.volume {
    width: 15%;
}

@media (max-width: 1024px) {
    .weight,
    .volume,
    .description{
        width:auto;
    }
}
