<div class="form-content-medium">
    <div class="component-main-container">
        <h2 class="mc-header">Añadir paquete a enviar</h2>
        <div class="mc-content-container" style="flex-direction: column;">
            <div class="content-card">
                <h2>Agregar paquete</h2>
                <form #packageForm="ngForm" (ngSubmit)="onSubmit()" class="section-content section-pad">
                    <mat-form-field class="description"
                        appearance="outline">
                        <mat-label>Descripción</mat-label>
                        <input name="description" matInput aria-label="Description" [(ngModel)]="description" required >
                    </mat-form-field>
                    
                    

                        <mat-form-field appearance="outline" class="weight">
                            <mat-label>Peso</mat-label>
                            <input name="weight" type="text" pattern="[1-9]+" [(ngModel)]="weight" required matInput  placeholder="">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="volume">
                            <mat-label>Volumen</mat-label>
                            <input name="volume" type="text" pattern="[1-9]+" [(ngModel)]="volume" required matInput placeholder="">
                        </mat-form-field>

                    <button [disabled]="!packageForm.valid" type="submit" style="margin:5px; margin-left:0px;" mat-button class="primary-button">Añadir paquete</button>
                </form>
            </div>
            <div class="content-card" *ngIf="packages.length>0">
                <h2>Paquetes a enviar</h2>
                <div class="section-content">
                    <div class="items" style="width:100%">
                        <div class="item-row d-flex-row" *ngFor="let package of packages; let i=index">

                            <div class="desc">
                                {{package.description}}
                            </div>
                            <div class="weight">
                                {{package.weight}}kg
                            </div>
                            <div class="volume">
                                {{package.volume}}cc
                            </div>
                            <div class="act">
                                <i class="delete-icon material-icons act-icon" (click)="deletepackage(i)">
                                    clear
                                </i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="buttons-container" *ngIf="!edit">
                <div class="buttons" style="width:auto">
                    <button type="button" mat-button class="cancel-button" (click)="close()">Cancelar</button>
                    <button type="button"  mat-button class="primary-button" [disabled]="packages.length==0" (click)="save()">Añadir marcador</button>
                </div>
            </div>

        </div>

    </div>
</div>