<div class="main-container">
    <div class="container">
        <div class="sect">
            <div class="icon-title-description-container">

                <div class="icon">
                    <i class="material-icons">
                        place
                    </i>
                </div>
                <div class="title-description">

                    <h2>Ubicación y paquetes</h2>
                    <p>En el siguiente mapa, agregue marcadores y los paquetes a enviar a dicha ubicación.</p>
                </div>
            </div>

            <div class="content">

                <div class="map-container">
                    <div class="map-frame">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="icon-title-description-container">

                <div class="icon">
                    <i class="material-icons">
                        local_shipping
                    </i>
                </div>
                <div class="title-description">

                    <h2>Camiones</h2>
                    <p>La siguiente tabla los camiones de los que dispone la empresa para realizar la entrega de
                        paquetes.</p>
                </div>
            </div>
            <div class="content">
                <div class="items">
                    <div *ngIf="trucks.length>0" class="table-it table-header d-flex-row animated fadeIn delay-1s">
                        <div class="actions">

                        </div>
                        <div class="name">
                            NOMBRE
                        </div>
                        <div class="cap">
                            CAPACIDAD
                        </div>

                    </div>
                    <ng-container *ngIf="trucks.length>0">
                        <div *ngFor="let truck of trucks" class="items-content animated fadeIn delay-2s">
                            <div class="table-it it animated fadeIn d-flex-row">
                                <div class="actions">
                                    <i class="material-icons act-icon" (click)="editproduct(i,prod)">
                                        create
                                    </i>
                                    <i class="delete-icon material-icons act-icon" (click)="deleteproduct(i,prod)">
                                        clear
                                    </i>
                                </div>
                                <div class="name">
                                    {{truck.name}}
                                </div>
                                <div class="cap">
                                    {{truck.capacidad}}
                                </div>

                            </div>
                        </div>
                    </ng-container>



                    <button mat-button class="prod-add primary-button" (click)="addTruck()">Agregar camion</button>
                </div>

            </div>
        </div>

        <button (click)="optimizar()" mat-button class="optimize primary-button">OPTIMIZAR</button>

    </div>


</div>