@import './../../styles.scss';
.map-container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    width:100%;
    height:600px;
  }
  
  .map-frame {
    height: 100%;
  }
  
  #map {
    height: 100%;
  }

  .act-icon{
    font-size: 18px;
  }
  
  .items-content {
    max-height: 84px;
    overflow-y: scroll;
    -ms-overflow-style: none; // Internet Explorer 10+
    scrollbar-width: none; // Firefox
  }
  
  .items-content::-webkit-scrollbar {
    display: none; // Safari and Chrome
  }

  .it {
    padding: 5px;
    background-color: #e6e6e6;
    color:$gray;
    margin: 0px 2px;
    justify-content: space-between;
    margin-top:2px
  }

  .items-content:last-child{
    margin-bottom: 2px;
  }


  h4 {
    padding: 10px;
  }

  .name{
    width:60%;
  }

  .cap{
    text-align: center;
    width:30%;
  }
  
  .main-container {
    background: rgb(224, 224, 224);
    display: flex;
    flex-direction: column;
    padding:20px;
  }
  
  .optimize{
    border-radius: 5px !important;
    padding:5px;
    font-size: 20px;
  }
  .primary-button{
    background:rgb(35, 177, 200);
    color:white;
    margin:2px;
    border-radius: 0px 0px 5px 5px;
  }
  .primary-button:hover{
    background:rgb(29, 194, 219);
  }
  
  .title-with-button{
    padding-top:11px;
    padding-bottom: 11px;
  }
  
  h3{
    margin:0;
    padding:0;
    padding:20px;
    padding-bottom:15px;
    border-radius: 5px 5px 0px 0px;;
    border-bottom:2px solid rgb(35, 177, 200);
    font-weight: 500;
    color:rgb(87, 87, 87);
    background:#fff;
    margin-bottom:10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .container{
    background:rgb(238, 238, 238);
    display:flex;
    flex-direction: column;
    padding:20px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 4px 1px rgba(13, 12, 13, 0.2);
    -moz-box-shadow: 1px 1px 4px 1px rgba(13, 12, 13, 0.2);
    box-shadow: 1px 1px 4px 1px rgba(13, 12, 13, 0.2);
  }

  .sect{
    margin-bottom: 20px;
    box-shadow: 1px 1px 2px 1px rgba(13, 12, 13, 0.62);
    border-radius: 5px;
  }

  .sect:last-child{
    margin-bottom: 0px;
  }
  
  .actions{
    width:5%;
    display:flex;
    justify-content: space-evenly;
  }
  
  .content{
    background:rgb(255, 255, 255);
    padding:16px;
    padding-top:5px;
    border-bottom:2px solid rgb(35, 177, 200);
    border-radius: 0px 0px 5px 5px;
  }
  
  .separador{
    border-bottom:2px solid #b7b7b7;
    margin-bottom:15px;
    width:20%;
  }
  